<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: head('Citas - MediCare')}"></head>

<body class="bg-light">

<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2 class="fw-bold mb-1">Citas Médicas</h2>
            <p class="text-muted mb-0">
                Administración de todas las citas.
            </p>
        </div>

        <a th:href="@{/admin/citas/nueva}"
           class="btn btn-primary">
            Nueva Cita
        </a>

    </div>

    <div class="card shadow-sm border-0">

        <div class="card-body">

            <table class="table table-striped align-middle">

                <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Paciente</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Costo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="cita : ${citas}">

                    <td th:text="${cita.id}"></td>

                    <td th:text="${cita.paciente.nombre}"></td>

                    <td th:text="${cita.especialidad}"></td>

                    <td th:text="${cita.fechaHora}"></td>

                    <td th:text="${cita.costo}"></td>

                    <td>
                        <span class="badge bg-primary"
                              th:text="${cita.estado}">
                        </span>
                    </td>

                    <td>

                        <a th:href="@{/admin/citas/editar/{id}(id=${cita.id})}"
                           class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <a th:href="@{/admin/citas/eliminar/{id}(id=${cita.id})}"
                           class="btn btn-danger btn-sm">
                            Eliminar
                        </a>

                    </td>

                </tr>

                </tbody>

            </table>

            <a th:href="@{/admin/inicio}"
               class="btn btn-secondary">
                Volver
            </a>

        </div>

    </div>

</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>